@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


/* Master Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color:#050610f1;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.4em;
}


/* Navbar Styles */
.nav-wrapper {
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    padding: 10px;
    z-index: 3;
    border-bottom:2px solid rgb(202, 22, 52);
}

#navbar {
    width: 100%;
    display: flex; 
    justify-content: space-between;  
}

.right-side {
    display: flex;
}

.nav-wrapper > #navbar > .right-side > div {
    margin-right: 50px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 25px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper > a {
    text-decoration:none;
    color: #464646;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #050610f1;
    font-weight: 600;
}

.nav-link-wrapper a:hover {
    color: rgb(202, 22, 52);;
}

.code-icon {
    font-weight:600;
    color: rgb(202, 22, 52);
}

/* content style */

.full-size-height {
    min-height: 100vh;
    margin: 0;
}

.section-standard {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Welcome Styles */

#welcome-section {
    margin-top:46px;
    background:url("https://github.com/DianaMachadoMoura/FCC-personal-portfolio-webpage/blob/main/images/luca-bravo-XJXWbfSo2f0-unsplash.jpg?raw=true");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: relative;
    height: 100vh;
}

.welcome-text-wrapper {
    color: white;
    position:absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    width:100%;
}

.welcome-text-wrapper h1 {
    font-size: 3.8em;
    text-align: center;
    margin: 0;
    letter-spacing: 4px;
}

.welcome-text-wrapper > h1 > #name {
    color: rgb(202, 22, 52);
}

.overlay {
    background: #050610f1;
    width: 100%;
    height: 100%;
    z-index:1;
}

/* About Styles */

#about-section {
    background-color: rgb(202 22 52 / 13%);
}

/* Left column - about */

.section-title-wrapper h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}


.about-title-line {
    background-color: #050610f1;
    width: 45px;
    height: 4px;
    margin: auto;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
}

.left-column-wrapper {
    min-width: 220px;
}

.left-content-wrapper {
    color: #050610f1;
}

.about-image-wrapper {
   text-align: center; 
}

.about-image-wrapper img{
    width: 45%;
    border-radius: 50%;
}

.about-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content-wrapper p {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

/* right column - skills*/

.tech-skills-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-skills-wrapper h3 {
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.tech-skills-items-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 500px;
}

.skill-wrapper {
    padding: 15px;
}

.logo-background {
    position:relative;
    width: 70px;
    height: 70px;
    background-color: rgb(202, 22, 52);
    margin: auto;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    border: 2.5px solid #050610f1;;
}

.logos-wrapper {
    position:relative;
}

.logo-wrapper {
    position:absolute;
}

.logo-img {
    width: 50px; 
}

.smaller-img {
    width: 40px;
}

.skill-txt-wrapper {
    text-align: center;
    margin-top: 3px;
    font-weight: 600;
}


/* Projects Styles */

#projects {
    background-color: rgb(202 22 52 / 13%);
}

.project-title-line {
    background-color: #050610f1;
    width: 60px;
    height: 4px;
    margin: auto;
}

.project-items-wrapper {
    position: relative;
    width: 1200px;
    height: 350px;
    margin: 80px auto 0;
}

.project-item-wrapper {
    position: relative;
    width: calc(400px - 30px);
    height: calc(261px - 30px);
    background-color: #050610;
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,.8);
}

.project-item-wrapper:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}

.project-item-wrapper:hover:before {
    transform: scaleX(1);
    opacity: 1;
}

.project-item-wrapper:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}

.project-item-wrapper:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.project-img {
    position: relative;
    width: 100%;
    transition: 0.5s;
}

.project-item-wrapper:hover img {
    opacity: .2;
    transform: scale(1.2);
}

.project-text-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    box-sizing: border-box;
    text-align: center;
}

.project-text-wrapper h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.5em;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}

.project-item-wrapper:hover .project-text-wrapper h4 {
    opacity:1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.2s;
}

.show-all-button-wrapper {
    text-align:center;
}

.show-all-button-wrapper a {
    text-decoration: none;
    color:  #050610f1;
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px;
    border: 3px solid #050610f1;
    text-transform: uppercase;
}

.show-all-button-wrapper a:hover {
    background-color: rgb(202, 22, 52);
    color: white;
    transition: background-color 0.5s;
    transition: color 0.6s;
}

/* Contacts Styles */
#contacts-section {
    background-color: #050610f1;
    padding-top: 50px;
    padding-bottom: 5px;
}

#contacts-section h2 {
    color: white;
}

.contacts-title-line {
    background-color: rgb(202, 22, 52);
    width: 50px;
    height: 4px;
    margin: auto;
}

.contacts-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-wrap: wrap;
    align-content: center;
}

.contacts-items-wrapper img{
    width: 50px;
    margin: 20px;
}

footer {
    color: white;
    text-align: center;
    border-top: 2px solid rgb(202, 22, 52);
    background-color: #050610f1;
    padding: 10px;
}

.footer-name{
    color: rgb(202, 22, 52);
    font-weight: 600;
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {

    .project-items-wrapper {
        width: 800px;
        height: auto;
        margin: 80px auto 80px;
    }

    .project-item-wrapper {
        width: calc(400px - 30px);
        height: calc(261px - 30px); 
    }

}

@media only screen and (max-width: 768px) {

    h2 {
        font-size: 1.5em;
    }
    
    .left-side {
        display: none;
    }

    .right-side {
        text-align:center;
        margin:auto;
    }

    .nav-wrapper > #navbar > .right-side > div {
        margin-right: 15px;
    }

    /* Welcome Styles */

    .welcome-text-wrapper h1 {
        font-size:1.5em;
        letter-spacing: 1px;
    }

    /* About  Styles*/

    #about-section {
        padding-bottom: 20px;
    }

    .about-title-line {
        width: 30px;
    }
    
    .two-column-wrapper {
        display: block;
    }

    .about-content-wrapper p {
        font-size: 1em;
    }

    .tech-skills-wrapper {
        margin-top: 10px;
    }

    .tech-skills-wrapper h3 {
        padding-bottom: 0;
        font-size: 1.1em;
    }

    .tech-skills-items-wrapper {
        max-width: 300px;
    }

    .skill-wrapper {
        padding: 5px;
    }

    .logo-background {
        width: 50px;
        height:50px;
    }

    .logo-img {
        width: 35px;
    }

    .smaller-img {
        width: 30px;
    }

    /* project Style */

    .project-title-line {
        width: 45px;
    }

    .project-items-wrapper {
        width: 100%;
        height: auto;
        margin: 80px auto 80px;
    }

    .project-item-wrapper {
        width: calc(350px - 30px);
        height: calc(228px - 30px); 
        margin: 20px auto;
        float: none;
    }

    .show-all-button-wrapper a {
        font-size: 0.8em;
        padding: 5px;
    }

    /* Contacts style*/

    #contacts-section {
        height: 80vh;
    }
    .contacts-items-wrapper {
        min-height: 70vh;
    }

    .contacts-items-wrapper img {
        width: 30px;
    }

}